

body {
    background: #5F9EA0;
}

aside {
    float: left;
    background: #181818;
    width: 30%;
    padding: 2.5%;
    height: 180vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;

}
aside .logo_low {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -10px;

}

aside h3 {
    margin-top: 10px;
    font-size: 28px;
}

aside ul {
    list-style: none
}

aside ul li, aside ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

#features {
    column-width: 320px;
    column-gap: 15px;
    width: 70%;
    max-width: 1000px;

}

div#features figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}
div#features figure img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#features figure figcaption {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
}

div#features small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#features small a {
  color: #666;
  text-decoration: none;
  transition: 0.4s color;
}

div#features:hover figure:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #features {
    column-gap: 0px;
  }
  #features figure {
    width: 100%;
  }
}

main . h1 {font-size: 100px; text-align: center;}
main .features p {max-width: 400px; margin: 20px auto}

main .alert-warning {
    float: left;
    clear: both;
    width: 450px;
    margin: 20px 20%;
    text-align: left;
}

main img {

}